<%= form_with(model: [@audio], local: true) do |f| %>
  <% if @audio.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @audio.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="audio_title">
    <%= f.label :タイトル %>
    <%= f.text_field :title %>
  </div>

  <div class="audio_key">
    <%= f.label :key %>
    <%= f.select :key, %i(C C♯ D D♯ E F F♯ G G♯ A A♯ B Am A♯m Bm Cm C♯m Dm D♯m Em Fm F♯m Gm G♯m), {include_blank: 'キー'} %>
  </div>

  <div class="audio_bpm">
    <%= f.label :bpm %>
    <%= f.number_field :bpm, in: 30..255 %>
  </div>

  <div class="audio_comment">
    <%= f.label :コメント %>
    <%= f.text_area :comment %>
  </div>

  <div class="audio_file" %>
    <%= f.file_field :file %>
  </div> 

  <%= f.submit %>
<% end %>