<div class="project_name_center_content">
  <h3 class="audio_project_name"><%= @project.name %>のオーディオ</h3>

  <br>
  <% if notice %>
    <p class="alert alert-notice"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-error"><%= alert %></p>
  <% end %>
  
  <table>
    <% @audios.each do |audio| %>
      <div class="card border-secondary mb-3" style="width: 50rem;">
        <div class="card-body d-flex flex-row align-items-start">
          <div class="flex-grow-1">
            <h5 class="card-title"><span class="bi bi-soundwave"> </span><%= link_to audio.title, audio_path(audio.id) %></h5>
            <h7 class="card-text">キー: <%= audio.key %></h7>
            <h7 class="card-text">BPM: <%= audio.bpm %></h7>
          </div>

          <% if current_user == audio.user %>
            <div class="btn-group" aria-label="Small button group">
              <a href="#" class="card-link"><%= link_to '編集', edit_audio_path(audio.id), class: "btn btn-outline-primary" %></a>
              <a href="#" class="card-link"><%= link_to '削除', audio_path(audio.id), method: :delete, data: { confirm: '本当に削除しますか?' }, class: "btn btn-outline-primary" %></a>
            </div>
          <% else %>
            <td></td>
            <td></td>
          <% end %>
        </div>
      </div>
    <% end %>
  </table>
</div>

<%= paginate @audios %>
