<div class="audio_form_container">
  <%= form_with(model: @audio, local: true) do |f| %>
    <h4 class="new_file">ファイルを登録</h4>
  
    <% if @audio.errors.any? %>
      <div id="error_explanation">
        <ul>
          <% @audio.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <%= f.hidden_field :project_id, value: @project.id %>
  
    <div class="audio_form_blank"></div>
  
    <div class="audio_title">
      <%= f.text_field :title, size: "60", style: "border: none", placeholder: "タイトル" %>
    </div>
  
    <div class="audio_form_blank"></div>
  
    <div class="audio_key">
      <%= f.select :key, %i(C C♯ D D♯ E F F♯ G G♯ A A♯ B Am A♯m Bm Cm C♯m Dm D♯m Em Fm F♯m Gm G♯m), { include_blank: 'キー' }, style: "border: none; width: 70px;" %>
    </div>
  
    <div class="audio_form_blank"></div>
  
    <div class="audio_bpm">
      <%= f.number_field :bpm, in: 30..255, style: "border: none; width: 70px;", size: "10", placeholder: "テンポ" %>
    </div>
  
    <div class="audio_form_blank"></div>
  
    <div class="audio_comment">
      <%= f.text_area :comment, size: "60x8", style: "border: none", placeholder: "コメント" %>
    </div>
  
    <div class="audio_bt_blank"></div>
  
    <div class="audio_file">
      <%= f.file_field :file %>
    </div> 
  
    <div class="audio_bt_blank"></div>
  
    <div class="audio_submit_button">
      <%= f.submit "登録する",class: "btn btn-danger" %>
    </div>
  <% end %>
</div>



