<div class="audio_data_container">
  <div class="audio_detail">
    <h1 class="audio_title"><%= @audio.title %></h1>
    <p>ユーザー: <%= @audio.user.name %></p>
    <p>キー: <%= @audio.key %></p>
    <p>テンポ: <%= @audio.bpm %></p>
    <p>ファイル:<%= @audio.file.url %></p>
    <p class = "download_tag"><%= link_to download_audio_path(@audio), data: { confirm: 'ダウンロードしますか?' }, class: "btn btn-primary", download: @audio.file do %>
      DOWNLOAD
    <% end %></p>
    <p>コメント:</p>
    <p><%= @audio.comment %></p>

    <h5>レスポンス</h5>
    <p class="response_form">
      <%= render partial: 'responses/form', locals: { response: @response, audio: @audio } %>
    </p>
    <p id="responses_area">
      <%= render partial: 'responses/index', locals: { responses: @responses, audio: @audio } %>
    </p>
  </div>

  <div class="audio_options">
    <div class="audio_edit_delete">
      <% if current_user == @audio.user %>
        <a><%= link_to '編集', edit_audio_path(@audio.id) %></a>
        <a><%= link_to '削除', audio_path(@audio.id), method: :delete, data: { confirm: '本当に削除しますか?' } %></a>
      <% end %>
    </div>
    <div class="audio_blank"></div>
    <%= audio_tag @audio.file, controls: true %>
  </div>
</div>