<h1><%= @audio.title %></h1>
<p><%= link_to '編集', edit_audio_path(@audio.id) %></p>

<p><%= @audio.bpm %></p>
<p><%= @audio.key %></p>
<p><%= @audio.comment %></p>

<p>
  <strong>File:</strong>
  <%= link_to download_audio_path(@audio), data: { confirm: 'ダウンロードしますか?' } do %>
    <%= @audio.file.url %>
  <% end %>
</p>

<p>
  <%= audio_tag @audio.file.url, :controls => true %>
</p>