<div class="audio_data_container">
  <div class="audio_detail">
    <h1 class="audio_title"><%= @audio.title %></h1>
    <p>ユーザー: <%= @audio.user.name %></p>
    <p>キー: <%= @audio.key %></p>
    <p>BPM: <%= @audio.bpm %></p>

    <% if @audio.file.present? %>
      <p class="download_tag">
        <%= link_to download_audio_path(@audio), data: { confirm: 'ダウンロードしますか?' }, class: "btn btn-primary", download: @audio.file do %>
          DOWNLOAD
        <% end %>
      </p>
    <% else %>
      <p></p>
    <% end %>

    <p>コメント:</p>
    <p><%= text_url_to_link(safe_join(@audio.comment.split("\n"), tag(:br))).html_safe %></p>
    <br>
    <br>
    <h5>レスポンス</h5>
    <div class="response_form">
      <%= render partial: 'responses/form', locals: { response: @response, audio: @audio } %>
    </div>
    <br>
    <div id="responses_area">
      <%= render partial: 'responses/index', locals: { responses: @responses, audio: @audio } %>
    </div>
  </div>
  
  <div class="audio_options">
    <div class="audio_edit_delete">
      <% if current_user == @audio.user %>
        <a><%= link_to '編集', edit_audio_path(@audio.id) %></a>
        <a><%= link_to '削除', audio_path(@audio.id), method: :delete, data: { confirm: '本当に削除しますか?' } %></a>
      <% end %>
    </div>

    <% if @audio.file.present? %>
      <div class="audio_blank"></div>
      <%= audio_tag @audio.file, controls: true %>
    <% else %>
      <div></div>
    <% end %>

    <% if @audio.reference.present? %>
      <div class="audio_blank"></div>
      <div class="audio_blank"></div>
      <iframe class="audio_sound_source" allow="autoplay *; encrypted-media *;"  sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com<%= @audio.reference %>"></iframe>
    <% end %>

  </div>
</div>

