<div class="centered-form">

  <%= image_tag 'app_logo_log_in.png', class: "centered-logo",width: "250px", height: "141px" %>

  <h5><%= t('.sign_up') %></h5>
  
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.text_field :name, autofocus: true, autocomplete: "name",size: "50",style: "border: none", placeholder: "名前" %>
    </div>

    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email",size: "50",style: "border: none", placeholder: "メールアドレス" %>
    </div>

    <div class="field">
      <% if @minimum_password_length %>
        <em><%= t(' ', count: @minimum_password_length) %></em>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password",size: "50",style: "border: none", placeholder: "パスワード(6文字以上)" %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password",size: "50",style: "border: none", placeholder: "パスワード確認" %>
    </div>

    <div class="actions">
      <%= f.submit "登録", class: "btn btn-secondary",style: "width: 100%; height: 40px;" %>
    </div>
  <% end %>

</div>

