<div class="project_index_container">
  <h4 class="project_name"><%= current_user.name %>のプロジェクト</h4>
  <br>
  <table class="project_index">
    <% @projects.each do |project| %>
      <tr>
        <% if current_user == project.user %>
          <td class="project_index_adjustment"><%= project.name %></td>
          <td class="project_index_adjustment">
            <a href="<%= project_path(project.id) %>" class="btn btn-outline-secondary">
              <span class="bi bi-people-fill"></span> メンバー一覧
            </a>
          </td>
          <td class="project_index_adjustment">
            <a href="<%= audios_path(project_id: project.id) %>" class="btn btn-outline-secondary">
              <span class="bi bi-music-note-beamed"></span> ミュージック
            </a>
          </td>
        <% else %>
          <td></td>
          <td></td>
        <% end %>
      </tr>
    <% end %>

    <% current_user.join_projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= link_to 'メンバー', project_path(project.id) %></td> 
        <td><%= link_to 'ミュージック', audios_path(project_id: project.id) %></td> 
      </tr>
    <% end %>
  </table>
</div>
