<h1><%= @project.name %>のメンバー</h1>
<table>
  <tr>
    <th>名前</th>
    <th>メール</th>
    <th>タイプ</th>
  </tr>
  <tr>
    <td><%= @project.user.name %></td>
    <td><%= @project.user.email %></td>
    <td>オーナー</td>
  </tr>
  
  <% @project.joins.each do |join| %>
    <tr>
      <td><%= join.user.name %></td>
      <td><%= join.user.email %></td>
      <td>メンバー</td>
    </tr>
  <% end %>
</table>

<%= link_to 'ユーザーを追加する', new_join_path(project_id: @project.id) %>
<%= link_to 'プロジェクトを削除する', project_path, method: :delete, data: { confirm: 'プロジェクトを削除してもよろしいですか？' }%>