<h1><%= @project.name %>のメンバー</h1>

<p>名前</p>
<p>種別</p>
<p>メール</p>

<p><%= @project.user.name %></p>
<p><%= @project.user.admin %></p>
<p><%= @project.user.email %></p>

<%= link_to 'プロジェクトを削除する', project_path, method: :delete, data: { confirm: 'プロジェクトを削除してもよろしいですか？' }%>