<div class="centered-form">

  <%= image_tag 'app_logo_log_in.png', class: "centered-logo",width: "250px", height: "141px" %>

  <h5><%= t('.sign_in') %></h5>
  
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    
    <% flash.each do |message_type, message| %>
      <%= content_tag :div, message, class: message_type %>
    <% end %>

    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email",size: "50",style: "border: none", placeholder: "メールアドレス" %>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "current-password",size: "50",style: "border: none", placeholder: "パスワード(6文字以上)" %>
    </div>

    <div class="actions">
      <%= f.submit t('.sign_in'), class: "btn btn-secondary",style: "width: 100%; height: 40px;" %>
    </div>

    <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :ログイン情報を記憶する %>
    </div>
    <% end %>
  <% end %>

  <div class="guest_actions_container">
    <div class="guest_actions">
      <%= link_to 'ゲストはこちら', users_guest_sign_in_path, method: :post %>
    </div>

    <div class="guest_actions">
      <%= link_to 'ゲスト管理者はこちら', users_guest_admin_sign_in_path, method: :post %>
    </div>
  </div>
</div>

